:root {
    --window-radius:10px;
    --total-window-padding:calc(var(--window-radius) * 2);
    --main-window-width:450px;
    --main-window-inside-width:calc(var(--main-window-width) - var(--total-window-padding));
    --adaptive-box-height:540px;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}
.no-trans {
    transition: none !important;
}
html,body,.windows {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    border: 0;
    padding: 0;
}
.body {
    height: 100%;
    width: 100%;
}
.windows {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 10px;
    width: auto;
    height: -webkit-fill-available;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    /* Bc i dont feel like doing google maps rn */ /* edit: now its just for loading*/
    background-color: rgb(80, 173, 80);
}
.window {
    position: absolute;
    border-radius: var(--window-radius);
    display: flex;
    padding: var(--window-radius);
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - var(--total-window-padding));
    background-color: white;
    z-index: 2;
    gap: 10px;
}
.search-container {
    height: 120px;
    width: var(--main-window-width);
    transform: translate(calc(var(--window-radius)* -1), calc(var(--window-radius)* -1));
    background: var(--primary-yellow);
    padding: 16px 10px 10px;
    margin-bottom: auto;
}
.main-window {
    width: var(--main-window-width);
    max-width: var(--main-window-width);
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 800px;
    /* max-height: 1000px; */
}
.adaptive-box,.adaptive-box-container {
    height: var(--adaptive-box-height);
    max-height: var(--adaptive-box-height);
    min-width: var(--main-window-inside-width);
    width: var(--main-window-inside-width);
    max-width: var(--main-window-inside-width);
}
.adaptive-box::-webkit-scrollbar {
    width: 6px;
}
.adaptive-box::-webkit-scrollbar-track {
    background: #fff;
}
.adaptive-box::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 30px;
}
.adaptive-box-container {
    overflow: hidden;
}
.adaptive-boxes {
    display: flex;
    transition: transform 0.5s;
}
.adaptive-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow:auto;
    padding: 13px 26px;
    border-radius: 3px;
}
/* for testing */
/* #home {
    background-color: var(--bs-red);
}
#review-1-1 {
    background-color: var(--bs-pink);
}
#review-1-2 {
    background-color: var(--bs-blue);
}
#review-2-1 {
    background-color: var(--bs-green);
}
#review-3-1 {
    background-color: var(--bs-yellow);
} */

.main-window-footer .btn {
    display: flex;
    flex-direction: column;
    outline: none !important;
    border: none !important;
}
.btn-check:checked + .btn {
    border: none !important;
    color: var(--primary-yellow) !important;
}
.btn-small-text {
    font-size: 12px;
}
.btn-check:not(:checked) + .btn i {
    color:#999;
}
.btn-check:not(:checked) + .btn .btn-small-text {
    color: var(--gray-text);
}
.main-window-footer .btn-group {
    width: 100%;
}
label.btn {
    transition: none !important;
}
#rating-text {
    width: 90px;
    padding: 5px
}
#rating-text + * {
    padding: 5px;
}
.restaurant-image {
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    font-size: 20px;
}
.restaurant-info {
    max-width: 308px;
}
.restaurant-search-results,#restaurant-search-results {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 6px;
    max-height: 300px;
    
}
.restaurant-image>img:not([src=""]) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
}
.selected-restaurant,.restaurant-search-result {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    border-radius: 2px;
}
.restaurant-search-result {
    cursor: pointer;
    border-top: 2px grey solid;
    padding-top: 8px;
}
.restaurant-image>.bi.bi-shop {
    display: block;
}
.restaurant-image>.bi.bi-shop:has(+img:not([src=""])) {
    display: none;
}
.restaurant-address,#restaurant-address {
    color: var(--gray-text);
    font-size: 12px;
}
.restaurant-page-thumbnail {
    width: 100%;
}
#restaurant-thumbnail {
    width: 100%;
    max-width: -webkit-fill-available;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
#map * {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
/* .search-bar {
    display: flex;
    justify-content: space-around;
} */
 .search-bar {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    width: 300px;
    font-size: 14px;
    margin: auto;
    border-radius: 11px;
 }
.ab-nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}
.popover.text-bg-warning > .popover-header::before {border-bottom:none!important;}
.popover.text-bg-warning > .popover-header {
    background: var(--bs-warning);
}
.popover.text-bg-warning > .popover-arrow {
    --bs-popover-bg:var(--bs-warning)
}
#restaurant-name {
    margin-bottom: 2px;
    font-size: 1.7rem;
}
.star {
    max-width: 24px;
    max-height: 24px;
}
#restaurant-rating {
    display: flex;
    align-items: center;
    gap: 2px;
    color: #2c75f4;
}


.reviews {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.review {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.top-review {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}
.reviewer-name {
    font-weight: 500;
    font-size: 18px;
}
.review-date {
    color: var(--bs-gray-600);
    font-size: 12px;
}
.bottom-review {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.review-image-thumb,.review-image-thumb img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
}
.comments {
    font-size: 14px;
}
#search {
    padding: 6px 9px 4px;
    width: 300px;
    font-size: 14px;
}