<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/dropzone.css">
    <link rel="stylesheet" href="/static/css/icons.min.css">
    <script src="/static/js/bootstrap.js" defer></script>
    <script src="/static/js/dropzone.js"></script>
    <script src="/static/js/jquery.js"></script>
    <link rel="shortcut icon" href="/static/media/one_bite_logo.webp" type="image/x-icon">
    {% block head %}
    {% endblock %}
    <title>OneFry</title>
</head>
<body>
    <div class="body">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>